{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap %}
{% load extra_tags %}
{% load humanize %}
{% block head %}
<title>{{site_name}}</title>
{% endblock %}

{% block content %}


<div class = "container">
    
<div class = "jumbotron">
<h1>Sign Up for Postal Voting</h1>
</div>

<div class = "row">


<div class = "col-md-6 col-md-push-6">
    <p>This website makes it easier to apply for your postal vote.</p>

    <ul>
    <li>You fill out this form.</li>
    <li>We look up the dates of the election and the place you need to send it - and give you a pre-filled out form to print.</li>
    <li>You print the form, sign it, and post it to the address we give you.</li>
    </ul>
    
    <p>They need to receive it at least 11 working days before the poll so:</p>
    <ul>
    <li>28th May - for June Election (Send by 25rd May)</li>
    </ul>
    
    <p>You can only get a postal vote if you're already registered to vote - <a href="https://www.gov.uk/register-to-vote" target="_blank">you can register to vote here</a>.
    
    <p>This is <b>not</b> an official website - you can download the form and fill it in yourself at <a href="http://www.aboutmyvote.co.uk/register-to-vote/postal-vote-application">aboutmyvote.co.uk</a></p>

    <p>This form can't be used for Northern Ireland - <a href="http://www.eoni.org.uk/">go here</a> instead.</p>
    
    <p><b>Privacy</b>: We don't store any of your personal details or generated forms.</p>
   
    <p><a href="http://inkleby.com/blog/2016/04/fixing-postal-vote-application/">More about this website</a></p>
    
    <hr>
    
    <p>The code for this website is available <a target="_blank" href="https://github.com/ajparsons/uk_postal_vote_form">on GitHub</a>.</p>
    
    <hr>
    
    <p>Council information via <a href="https://democracyclub.org.uk/">Democracy Club</a>.</p>

<p>Contains Ordnance Survey data © Crown copyright and database right 2017.</p>
<p>Contains Royal Mail data © Royal Mail copyright and database right 2017.</p>
<p>Contains National Statistics data © Crown copyright and database right 2017.</p>
    
    </div>
    
   
<div class = "col-md-6 col-md-pull-6">
<form method="POST">
    {% csrf_token %}
    {{ e_form|bootstrap }}
    <legend>Address Information</legend>
    {{ add_form|bootstrap }}
    <legend>Do you need your postal vote sent to another address? (optional)</legend>
    {{ alt_form|bootstrap }}
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Get Form</button>
    </div>
</form>

</div>


</div>

{% endblock %}
